<div class="container">
    <div class="footer-nav">
      <div class="account">
        <div class="myname">
          00giri
        </div>
        <div class="acc-link">
          <ul>
            <li>
              <a href="https://scratch.mit.edu/users/00giri/"><img src="{{site.url}}/assets/images/scratch.svg" alt=""></a>
            </li>
            <li>
              <a href="{{site.url}}"><img src="{{site.url}}/assets/images/mark-github.svg" alt=""></img></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="links">
        <div class="link-box">
          <ul>
            <li>
              <a href="https://scratch.mit.edu/studios/30667862/">お問い合わせ<img src="{{site.url}}/assets/images/link-external-w.svg" alt=""></img></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      Copyright &copy;2022 <a href="https://github.com/00giri/">00giri</a> All rights reserved.
      <br>
      <a href="{{site.url}}/copyright/">このサイトの著作権について</a>
    </div>
  </div>
  