<div class="container">
    <div class="footer-nav">
      <div class="account">
        <div class="myname">
          00giri
        </div>
        <div class="acc-link">
          <ul>
            <li>
              <a href="https://scratch.mit.edu/users/00giri/"><img src="{{ site.url }}/images/scratch.svg" alt=""></a>
            </li>
            <li>
              <a href="{{ site.url }}/">{% octicon mark-github height:16 %}</img></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="links">
        <div class="counter-container">
          <div class="counter">
            <div>アクセスカウンター：</div>
            <div><table border="0" cellspacing="0" cellpadding="0"><tr><td align="center"><a href="http://www.rays-counter.com/"><img src="http://www.rays-counter.com/d509_f6_017/62ac5b067d8ad/" alt="アクセスカウンター" border="0"></a></td></tr><tr><td align="center"><img src="http://www.rays-counter.com/images/counter_01.gif" border="0"><img src="http://www.rays-counter.com/images/counter_02.gif" border="0"><img src="http://www.rays-counter.com/images/counter_03.gif" border="0"><img src="http://www.rays-counter.com/images/counter_04.gif" border="0" ><img src="http://www.rays-counter.com/images/counter_05.gif" border="0"></td></tr></table></div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      Copyright &copy;2022 <a href="{{ site.url }}/">00giri</a> All rights reserved.
      <br>
      <a href="{{ site.url }}/copyright/">このサイトの著作権について</a>
    </div>
  </div>
  