<div class="topnav">
    <div class="logo">
      <img src="{{site.url}}assets/images/icon.png" alt=""></img>
      <span>00giri<span>'s</span> website</span>
    </div>
    <ul>
      <li>
        <a href="{{site.url}}">HOME<br>ホーム</a>
      </li><li>
        <a href="{{site.url}}projects/">PROJECTS<br>プロジェクト</a>
      </li><li>
        <a href="{{site.url}}blog/">BLOG<br>ブログ</a>
      </li><li>
        <a href="{{site.url}}feedback/">FEEDBACK<br>フィードバック</a>
      </li><li>
        <a href="{{site.url}}links/">LINKS<br>相互リンク</a>
      </li><li>
        <a href="{{site.url}}logs/">LOGS<br>更新履歴</a>
      </li>
    </ul>
  </div>
